body{
    background-color: black;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 195vh;
    }
    header{
        /* border: solid rgb(255, 0, 0);   */
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 200vh;
        height: 200vh;
    }
    h1{
    /* border: solid white;   */
    font-size: 8vh;
    color:#07E7A3;
    text-align: center;
    margin-bottom: 1vh;
    }
    h2{
        /* border: solid white;  */
        text-align: center;
        color: white;
        font-size: 2.5vh;
        width: 46vh;
        font-weight: normal;
        padding: 1vh;
        margin-top: 1vh;
      
    }
    section{
         /* border: solid white;  */
        background-color: #0CAA7B;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 180vh;
        margin-top: 4vh;
        padding: 2vh;
        }
        ul{
           /* border: solid rgb(208, 255, 0);    */
            list-style: none;
            display: flex;
            width: 48vh;
        }
 .guia{
        /* border: solid white;  */
        font-size: 3.5vh;
        color: white;
        width: 30vh;
        padding: 3vh;
        line-height: 5vh;
        }
.order{
     background-color: black; 
    color: white;
    border-radius:8vh;
    width: 5vh;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
     margin-top: 5vh;
    
}
h3{
     /* border: solid white;  */
        text-align: center;
        font-size: 3.5vh;
        }
#instrucciones{
        display: flex;
        justify-content: center;
        }
a {
         text-align: center;
        text-decoration: none;
        padding: 2.5vh;
        color: #0CC88F;
        font-size: 2.8vh;
        border-radius: 6vh;
        background: #2B2C2C;
        border-color: #2B2C2C;
        margin-top: 4vh;
        width: 18vh;
        }
 main{
    /* border: solid white; */
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center; 
        margin-top: 18vh;
        width: 150vh;
        height:80vh;
        } 
#div1{
         /* border: solid rgb(255, 11, 11); */
         display: inline-flex;
         justify-content: space-around;
         align-items: baseline;
        }
#div1 p {
        /* border: solid rgb(26, 253, 6);  */
        color: #8CE0BD;
        font-size: 3vh;
        margin-bottom: 3vh;
        
        }        
input{
         width: 6vh;
         height: 5vh;
        font-size: 5vh;
        border-radius: 6vh;
        border-color: white;
        text-align: center;
        }
        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button{
            -webkit-appearance: none;
        }
        input::placeholder{
            color: rgb(27, 27, 27);
            text-align: center;
            font-size: 4vh;
        }
#container{
    /* border: solid rgb(255, 0, 242); */
        display: flex;
        align-content: center;
        justify-content: space-between;
        height: 45vh;
        } 
        form{
            /* border: solid rgb(140, 0, 255); */
            height: 150vh;
        }
textarea{
    display: block;
    width: 65vh;
    font-size: 3vh;
    height: 40vh;
    }
    textarea::placeholder{
        font-size: 3vh;
    }
    #change {
        background-color: #E71919;
        border-radius: 4vh;
        border: solid #C92D2D;
        margin-top: auto;
        margin-bottom: auto;
        }
    .myStyle{
        background-color: #45FF16;
    }
    .disappear{
        display: none;
    }
        #div2{
            /* border: solid rgb(255, 0, 85); */
            display: inline-flex;
            justify-content: space-between;
             padding: 10px;
             width: 15vh;
             margin-left: 50vh;
            }
    button {
        width: 7vh;
        height: 6vh;
        font-size: 4vh;
        text-align: center;
    }
    button:hover{
        color: white;
    }
    #show1 {
        background-color: #0DCB92;
        border: none;
        }
    #show2{
    background-color: #0DCB92;
    border: none;
    }
    #clear {
        background-color:#DDE111;
        border: none;
        }
    @media screen and (min-width:780px) and (max-width:1040px){


    }